[workspace]
resolver = "2"
members = [
    "sing-core",
    "sing-cli",
    "sing-web",
]

[workspace.package]
version = "0.3.0"
edition = "2024"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
