[workspace]
resolver = "2"
members = [
    "sing-core",
    "sing-cli",
    "sing-browser",
]

[workspace.package]
version = "0.5.0"
edition = "2024"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
panic = 'abort'
overflow-checks = false
debug-assertions = false